In [2]:
import pandas as pd

raw_data = pd.read_csv("../data/vehicles.csv")

display(raw_data["type"].value_counts())

type
sedan          87056
SUV            77284
pickup         43510
truck          35279
other          22110
coupe          19204
hatchback      16598
wagon          10751
van             8548
convertible     7731
mini-van        4825
offroad          609
bus              517
Name: count, dtype: int64